<app-header></app-header>
<h4>Admin Dashboard</h4>
          <div class="container-fluid" style="background-color: aliceblue; height: 79vh">
            <div class="row">
              <div class="col-sm-4 mx-auto">
                <div class="card shadow" style="margin-top: 80px">
                  <div class="card-header bg-white">
                    <h4>Admin Details</h4>
                  </div>
                  <div class="card-body">
                    <div style="display: flex ; justify-content:center; "> <img src="../../assets/aman.jpg.jpeg"  style="border-radius: 2rem;" width="100px " alt="myimg"/></div>
                <br><br>
               

                <div style="color: rgb(15, 15, 15);" class="mb-4">
                    <b><label class="form-label">Full Name :  </label></b>
                <span style="color:black;"> Aman Singh Yadav</span>
            </div>
  
              <div style="color: rgb(10, 10, 10);" class="mb-4">
                <b> <label  class="form-label">Mobile Number :</label></b>
                <span style="color:black;">1234567890</span>
              </div>
  
                      <div style="color: rgb(0, 0, 0);" class="mb-4">
                        <b>  <label  class="form-label">Email address :</label></b>
                       <span style="color:black;">aman@gmail.com</span>
                     </div>
                     
         
                
      

  
  
