

<body><section class='login' id='register' style="width: 400px;">
    
    <div class='head'>
    <h1 class='company'>SHOP FOR HOME</h1>
    </div>
    <p class='msg'>Welcome To Registration Page</p>
    <div class='form'>
      <form>
    <input type="text" placeholder='Username' class='text' id='username' required><br>
    <input type="password" placeholder='••••••••••••••' class='password' required><br>
    <input type="text" placeholder='Fullname' class='text' id='Name' required><br><br>
    <input type="text" placeholder='Email' class='text' id='Email' required><br><br>
    <input type="text" minLength="10" maxlength="10" placeholder='Mobile No' class='text' id='mobile' required><br><br>
    <a routerLink="login" class='btn-login' id='do-login'>Register</a>
      </form><br>
    </div>
  </section>
  </body>
  