
<body><section class='login' id='login' style="width: 400px;">
    
    <div class='head'>
    <h1 class='company'>SHOP FOR HOME</h1>
    </div>
    <p class='msg'>Welcome back</p>
    <div class='form'>
      <form>
    <input type="text" placeholder='Username' class='text' id='username' required><br>
    <input type="password" placeholder='••••••••••••••' class='password'><br>
    <a href="#" class='btn-login' id='do-login'>Login</a>
    <a href="#" class='forgot'>Forgot?</a>
      </form><br>
      <strong style="padding-top: 30px;">  New User?</strong><br>
      <button routerLink="/register" class="login" style="padding:5px;">
        <span>Register Here</span>
    </button>
    </div>
  </section>
  </body>
  